@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rgb(100, 100, 100);
  margin: 0px 0px;
  padding: 0px 8px;
  font-size: 15px;
}

ul {
  display: flex;
  margin: 0px 0px;
  padding: 0px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  padding: 16px 8px;
}

img {
  display: block;
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
